<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div>
				<div class="masthead">
					<h3 class="text-muted">Blockchain Demo Application</h3>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Login</div>
				<div class="panel-body">
					<div>
						<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
							novalidate>
							<div class="form-group"
								[ngClass]="{ 'has-error': f.submitted && !username.valid }">
								<input type="text" class="form-control" name="username"
									[(ngModel)]="model.username" #username="ngModel"
									placeholder="User Name" required />
								<div *ngIf="f.submitted && !username.valid" class="help-block">Username
									is required</div>
							</div>
							<div class="form-group"
								[ngClass]="{ 'has-error': f.submitted && !password.valid }">
								<input type="password" class="form-control" name="password"
									[(ngModel)]="model.password" #password="ngModel"
									placeholder="Password" required />
								<div *ngIf="f.submitted && !password.valid" class="help-block">Password
									is required</div>
							</div>
							<div class="form-group" align="center">
								<button [disabled]="loading" class="btn btn-primary">Login</button>
								<img *ngIf="loading"
									src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>
						</form>
					</div>
				</div>
			</div>
			<div class="mastfoot">
				<div class="inner text-muted">
					<p>
						Demo prepared by <a>AIMEDM</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
