<div class="container">
	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Blockchain Demo Application</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a data-toggle="tab" href="#searchpatient">Search
							Patient</a></li>
					<li><a data-toggle="tab" href="#patiententry">Patient
							Entry Form</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a>{{model.currentUser.firstName}}&nbsp;{{model.currentUser.lastName}}</a></li>
					<li><a class="nav-link active " [routerLink]="['/login']">Logout</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>

	<!-- Main component for a primary marketing message or call to action -->
	<div>
		<div class="tab-content">
			<div id="searchpatient" class="tab-pane fade  in active">
				<div class="panel panel-success">
					<div class="panel-heading">Patient Entry Form</div>
					<div class="panel-body">
						<form name="form" (ngSubmit)="f.form.valid && searchpatient()"
							#f="ngForm" novalidate>
							<div class="row">
								<div class="col-md-4 form-group"
									[ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
									<input type="text" class="form-control" name="firstname"
										[(ngModel)]="model.firstname" #firstname="ngModel"
										placeholder="First Name" required />
									<div *ngIf="f.submitted && !firstname.valid" class="help-block">First
										Name is required</div>
								</div>
								<div class="col-md-3 form-group"
									[ngClass]="{ 'has-error': f.submitted && !middlename.valid }">
									<input type="middlename" class="form-control" name="middlename"
										[(ngModel)]="model.middlename" #middlename="ngModel"
										placeholder="Middle Name" required />
									<div *ngIf="f.submitted && !middlename.valid"
										class="help-block">Middle Name is required</div>
								</div>
								<div class="col-md-3 form-group"
									[ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
									<input type="lastname" class="form-control" name="lastname"
										[(ngModel)]="model.lastname" #lastname="ngModel"
										placeholder="Last Name" required />
									<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last
										Name is required</div>
								</div>
								<div class="col-md-2 form-group">
									<button [disabled]="loading" class="btn btn-primary">Search</button>
									<img *ngIf="loading"
										src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
								</div>
								<div *ngIf="error" class="alert alert-danger">{{error}}</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="patiententry" class="tab-pane fade">
				<div class="panel panel-default">
					<div class="panel-heading">Patient Entry Form</div>
					<div class="panel-body">
						<form name="form" (ngSubmit)="f.form.valid && createpatient()"
							#f="ngForm" novalidate>
							<div class="row">
								<div class="col-md-4 form-group"
									[ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
									<input type="text" class="form-control" name="firstname"
										[(ngModel)]="model.firstname" #firstname="ngModel"
										placeholder="First Name" required />
									<div *ngIf="f.submitted && !firstname.valid" class="help-block">First
										Name is required</div>
								</div>
								<div class="col-md-4 form-group"
									[ngClass]="{ 'has-error': f.submitted && !middlename.valid }">
									<input type="middlename" class="form-control" name="middlename"
										[(ngModel)]="model.middlename" #middlename="ngModel"
										placeholder="Middle Name" required />
									<div *ngIf="f.submitted && !middlename.valid"
										class="help-block">Middle Name is required</div>
								</div>
								<div class="col-md-4 form-group"
									[ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
									<input type="lastname" class="form-control" name="lastname"
										[(ngModel)]="model.lastname" #lastname="ngModel"
										placeholder="Last Name" required />
									<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last
										Name is required</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !address.valid }">
									<input type="address" class="form-control" name="address"
										[(ngModel)]="model.address" #address="ngModel"
										placeholder="Address" required />
									<div *ngIf="f.submitted && !address.valid" class="help-block">Address
										is required</div>
								</div>
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !city.valid }">
									<input type="city" class="form-control" name="city"
										[(ngModel)]="model.city" #city="ngModel" placeholder="City"
										required />
									<div *ngIf="f.submitted && !city.valid" class="help-block">City
										is required</div>
								</div>
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !state.valid }">
									<input type="state" class="form-control" name="state"
										[(ngModel)]="model.state" #state="ngModel" placeholder="State"
										required />
									<div *ngIf="f.submitted && !state.valid" class="help-block">State
										is required</div>
								</div>
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !zip.valid }">
									<input type="zip" class="form-control" name="zip"
										[(ngModel)]="model.zip" #zip="ngModel" placeholder="Zip"
										required />
									<div *ngIf="f.submitted && !zip.valid" class="help-block">Zip
										is required</div>
								</div>
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !gender.valid }">
									<input type="gender" class="form-control" name="gender"
										[(ngModel)]="model.gender" #gender="ngModel"
										placeholder="Gender" required />
									<div *ngIf="f.submitted && !gender.valid" class="help-block">Gender
										is required</div>
								</div>
								<div class="col-md-2 form-group"
									[ngClass]="{ 'has-error': f.submitted && !dateofbirth.valid }">
									<input type="dateofbirth" class="form-control"
										name="dateofbirth" [(ngModel)]="model.dateofbirth"
										#dateofbirth="ngModel" placeholder="Date of Birth" required />
									<div *ngIf="f.submitted && !dateofbirth.valid"
										class="help-block">Date of Birth is required</div>
								</div>
							</div>
							<div class="form-group">
								<button [disabled]="loading" class="btn btn-primary">Save</button>
								<img *ngIf="loading"
									src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /container -->