<div class="container">
	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Blockchain Demo Application</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a>{{model.currentUser.firstName}}&nbsp;{{model.currentUser.lastName}}</a></li>
					<li class="active"><a>{{model.currentUser.orgName}}</a></li>
					<li><a class="nav-link active " [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="row">
		<div class="tab-content secretory col-md-12">
			<form name="form" (ngSubmit)="f.form.valid && scheduleAppointment()"
							#f="ngForm" novalidate>
				<div id="patientProviderList" class="tab-pane fade  in active">
					<div class="panel panel-success">
						<div class="panel-heading">{{model.topMessage}}</div>
						<div class="panel-body">
							<div class="form-group ">
								<div class="row">
									<div class="col-md-4">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5>Patient:
													<select [(ngModel)]="model.selectedPatientDetail" name="selectedPatientDetail" (ngModelChange)="selectPatient()">
														<option *ngFor="let patient of model.patients" [ngValue]="patient">{{patient.lastName}}, {{patient.firstName}}</option>
													</select>
												</h5>
											</div>
											<div class="panel-body" >
												<div class="panel panel-default">
													<address *ngIf="model.selectedPatientDetail">
														<h6>
															<strong>
																{{model.selectedPatientDetail.firstName}} {{model.selectedPatientDetail.lastName}}
															</strong><br>
															{{model.selectedPatientDetail.address}}<br>{{model.selectedPatientDetail.city}}, {{model.selectedPatientDetail.state}} - {{model.selectedPatientDetail.zip}}<br>
															<abbr title="Phone">P:</abbr> {{model.selectedPatientDetail.primaryphone1}}
														</h6>
													</address>
													
													<iframe *ngIf="model.patientMapURL" width="300" height="270" frameborder="0" style="border:0" [src]="model.patientMapURL" allowfullscreen></iframe>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-8">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h5>
													Provider:<select [(ngModel)]="model.selectedProviderDetail" name="selectedProviderDetail" (ngModelChange)="selectProvider()" >
															<option *ngFor="let provider of model.providers" [ngValue]="provider">
																{{provider.lastName}}, {{provider.firstName}}
															</option>
														</select>
												</h5>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-6">
														<div class="row panel panel-default">
															<address *ngIf="model.selectedProviderDetail">
																<h6>
																	<strong>
																		{{model.selectedProviderDetail.firstName}} {{model.selectedProviderDetail.lastName}}
																	</strong><br>
																	{{model.selectedProviderDetail.address}}<br>{{model.selectedProviderDetail.city}}, {{model.selectedProviderDetail.state}} - {{model.selectedProviderDetail.zip}}<br>
																	<abbr title="Phone">P:</abbr> {{model.selectedProviderDetail.primaryphone1}}
																</h6>
															</address>
															<iframe *ngIf="model.providerMapURL" width="300" height="250" frameborder="0" style="border:0" [src]="model.providerMapURL" allowfullscreen></iframe>
														</div>
													</div>
													<div class="col-md-6">
														<div  *ngIf="model.mapmodel" >
															<div *ngFor="let route of model.mapmodel.routes">
									 							 <div *ngFor="let leg of route.legs" class="btn-info">
									 							 	<code>Distance: {{leg.distance.text}}, Duration: {{leg.duration.text}}</code>
									 							 </div>
															 </div>
														</div>
														<div class="panel panel-default">
															<div class="panel-heading">
																<select [(ngModel)]="model.appointmentDate" name="appointmentDate" (ngModelChange)="selectAppointmentDate()" >
																	<option *ngFor="let dt of model.appointmentDateList">{{dt}}</option>
																</select>
																<button type="button" class="btn btn-info btn-xs" >[Appointments Exist] <span class="glyphicon glyphicon-refresh" aria-hidden="true" *ngIf="model.appointmentScheduledMsg" (click) = "refreshTimeList()"></span></button>
															</div>
															<div class="panel-body">
																<div class="row">
																	<div class="col-md-12" >
  <ul class="list-unstyled">
  <li *ngFor="let appointmentTime of model.appointmentTimeList" >
	<div class="btn-group" *ngIf="appointmentTime.selected">
		<button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{appointmentTime.slotDuration}}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a>{{appointmentTime.appointmentId}}</a></li>
		</ul>
	</div>
  	<div class="radio" *ngIf="!appointmentTime.selected" >
	  <label>
	    <input name="appointmentTime.slotDuration" type="radio" [(ngModel)]="model.appointmentTime.slotDuration" (ngModelChange)="selectAppointmentTime()" [value] = "appointmentTime.slotDuration">{{appointmentTime.slotDuration}}
	  </label>
	</div>
  </li>
  </ul>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<img *ngIf="loading"
									src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>
						</div>
						<div class="panel-footer form-group">
							<div >
								<button type="submit" class="btn btn-default" aria-label="Left Align" *ngIf="areAllFieldsAvailable()" [disabled]="loading">Schedule Appointment Smart Contract in IBM Hyperledger Blockchain<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
								</button>
								<button class="btn btn-default" aria-label="Left Align" *ngIf="model.blockchainId">Blockchain ID: [{{model.blockchainId}}]</button>
								<br>
								<span *ngIf="model.appointmentScheduledMsg" >Appointment Scheduled Message: [{{model.appointmentScheduledMsg}}] - Refresh TimeList</span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!--<div id="appointmentList" class="tab-content secretory col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Scheduled Appointments</div>
				<div class="panel-body">
					<div class="form-group">
						<select [(ngModel)]="model.selectedAppointmentId" name="selectedAppointmentId" (ngModelChange)="openAppointment()">
							<option *ngFor="let appointmentId of model.appointments">{{appointmentId}}</option>
						</select>
					</div>
					<div class="form-group" *ngIf="model.selectedAppointment" >
						<table class="table table-striped secretory"> 
							<tbody>
								<tr>
									<td>Appointment ID:</td><td>{{model.selectedAppointment.appointmentId}}</td>
								</tr>	<tr>
									<td>Provider Name:</td><td>{{model.selectedAppointment.provider.firstName}} {{model.selectedAppointment.provider.lastName}}</td>
								</tr>	<tr>
									<td>Patient Name:</td><td>{{model.selectedAppointment.patient.firstName}} {{model.selectedAppointment.patient.lastName}}</td>
									</tr>	<tr>
									<td>Appointment Time:</td><td>{{model.selectedAppointment.appointmentTime}}</td></tr>	<tr>
									<td>Diagnosis Notes</td><td>{{model.selectedAppointment.diagnosisNotes}}</td></tr>	<tr>
									<td>Prescription Notes</td><td>{{model.selectedAppointment.prescriptionNotes}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>